/**
 * Bootstrap variables overriding
 */
$font-family-base: Roboto, sans-serif;

$border-radius:               0;
$border-radius-lg:            0;
$border-radius-sm:            0;

/**
 * Custom variables declaration
 */
$wwe-red: #ec1828;
